:root {
  --primary-color: #2c3e50;
  --secondary-color: #3498db;
  --success-color: #27ae60;
  --warning-color: #f39c12;
  --danger-color: #e74c3c;
  --light-color: #ecf0f1;
  --dark-color: #2c3e50;
  --sidebar-width: 250px;
}

.auth-page {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

.auth-left {
  width: 45%;
  background: linear-gradient(135deg, var(--dark-color), var(--primary-color));
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-logo {
  width: 70px;
  margin-bottom: 1rem;
}

.auth-left h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.auth-left p {
  opacity: 0.9;
  margin-bottom: 2rem;
}

.auth-links a {
  color:#e74c3c ;
  font-weight: 600;
  text-decoration: none;
}

.auth-right {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
}
